<%- include("partials/header"); -%>

    <%- include("partials/navbar"); -%>
        <style>
            body {
                height: 100%;
            }
        </style>

        <center>
            <img class="logo" src="/assets/logo-circular.png">
            <div class="centerText">
                <h1>Lavenza Team</h1>
                <p>Meet the team behind Lavenza!</p>
            </div> <br>

            <h1 class="teamSplitter">Developers</h1>

            <div class="teamCard">
                <div class="teamCardBackground">
                    <img class="teamAvatar" src="https://unavatar.io/twitter/ArkaneOnline"> <br> <br>
                    <h2>Arkane</h2>
                    <p>Lead Developer / Project Manager</p>
                    <a class="button is-link is-rounded" href="https://twitter.com/ArkaneOnline">Twitter</a>
                </div>
            </div>

            <h1 class="teamSplitter">Administrators</h1>

            <div class="teamCard">
                <div class="teamCardBackground">
                    <img class="teamAvatar" src="https://unavatar.io/twitter/TheCoolStalker"> <br> <br>
                    <h2>CoolStalker</h2>
                    <p>Administrator</p>
                    <a class="button is-link is-rounded" href="https://twitter.com/TheCoolStalker">Twitter</a>
                </div>

                <div class="teamCardBackground">
                    <img class="teamAvatar" src="https://unavatar.io/twitter/HyperRuns"> <br> <br>
                    <h2>Hyper</h2>
                    <p>Administrator</p>
                    <a class="button is-link is-rounded" href="https://twitter.com/HyperRuns">Twitter</a>
                </div>
            </div>

            <h1 class="teamSplitter">Moderators</h1>

            <div class="teamCard">
                
            </div>
            <%- include("partials/footer"); -%>