<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <meta property="og:name" content="Lavenza">
    <meta property="og:description" content="The first ever, public Persona Compendium Bot!">
    <meta property="og:image" content="https://lavenza.tk/assets/logo-square.png">
    <meta property="og:url" content="https://lavenza.tk/">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#0040ff">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ArkaneOnline">
    <meta name="twitter:title" content="Lavenza">
    <meta name="twitter:description" content="The first ever, public Persona Compendium Bot!">
    <meta name="twitter:image" content="https://lavenza.tk/assets/logo-square.png">
    <title>Lavenza</title>
</head>
<body>

    <script src="/scripts/redirect.js"></script>